# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies - The **/ ensures it catches node_modules in ANY subfolder
**/node_modules/

# Build outputs
dist
dist-ssr

# Local env files
*.local
.env
.env.*
!.env.example
**/google-oauth.json   <-- Added for backend security
**/package-lock.json   <-- Optional, but can reduce noise if versions drift

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?